<div id="film-notice"></div>
<div id="Left">
  
  <div id="Right">    
    <div class="submit"><%= link_to 'Add Theater', new_salle_path, :class=>"submit" %></div>
  </div>

<h1>Search theaters</h1>

<%= form_tag salles_path, :method => 'get', :id => "salles_search" do %>
<div id='search'>
  <p>
    <%= text_field_tag :search, params[:search],:style =>"width:50%" %>
    <%= submit_tag "Search", :name => nil %>
  </p>
</div>

  <div id="salles"><%= render 'salles' %></div>
<% end %>

</div>
