<div id="Left">
   
  <div id="Right">    
    <div class="submit"><%= link_to 'Edit theater ', edit_salle_path(@salle), :class=>"submit" %></div>
  </div>
<p id="notice"><%= notice %></p>

<p>
  Theater name:
  <b><%= @salle.name %></b>
</p>
<br />

<p>
  Theater district:
  <b><%= @salle.district %></b>
</p>
<br />

<p>
  Theater adresse:
  <b><%= @salle.adresse %></b>
</p>
<br />

<p>
  Theater owner:
  <b><%= @salle.owner %></b>
</p>
<br />

<p>
  Place number:
  <b><%= @salle.place %></b>
</p>
<br />

<p>
  Orchester:
  <b><%= @salle.orchester %></b>
</p>
<br />

<p>
  Opening days:
  <b><%= @salle.open %></b>
</p>
<br />

<p>
  Comments:
  <b><%= @salle.comment %></b>
</p>
<br />

<p>
  Sources theater:
  <b><%= @salle.source %></b>
</p>




</div>